<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" [routerLink]="['/dashboard']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="entries" [routerLink]="['/entries']">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Entries</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" [routerLink]="['/stats']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" [routerLink]="['/settings']">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
