<ion-header>
  <ion-toolbar class="toolbar-transparent">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollY]="false">
  <ion-grid style="padding-top: 0;">
    <ion-row class="row-flex">
      <ion-col size="6" class="col-flex">
        <ion-card class="equal-height-card">
          <ion-card-content class="top-cards-padding">
            <swiper-container
              class="dashboard-swiper"
              pagination="true"
              direction="horizontal"
              initial-slide="3"
              space-between="20"
              style="height: 100px">
              <swiper-slide>
                <div>
                  <h2>
                    Overtime
                    <ion-icon name="trending-up-outline" color="success"></ion-icon>
                  </h2>
                  <p class="big">+12.5 hrs</p>
                  <h3>Week 42</h3>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div>
                  <h2>
                    Overtime
                    <ion-icon name="trending-up-outline" color="success"></ion-icon>
                  </h2>
                  <p class="big">+12.5 hrs</p>
                  <h3>October</h3>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div>
                  <h2>
                    Overtime
                    <ion-icon name="trending-up-outline" color="success"></ion-icon>
                  </h2>
                  <p class="big">+12.5 hrs</p>
                  <h3>2025</h3>
                </div>
              </swiper-slide>

              <swiper-slide>
                <div>
                  <h2>
                    Overtime
                    <ion-icon name="trending-up-outline" color="success"></ion-icon>
                  </h2>
                  <p class="big">+12.5 hrs</p>
                  <h3>All time</h3>
                </div>
              </swiper-slide>
            </swiper-container>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="col-flex">
        <ion-card class="equal-height-card">
          <ion-card-content class="top-cards-padding">
            <h2>
              Today
              <ion-icon name="time-outline" color="primary"></ion-icon>
            </h2>
            <p class="big">8.0 hrs</p>
            <ion-text color="primary">
              <h3>09:00 - 17:00</h3>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-label class="label-weekly-overview">
      Weekly Overview
    </ion-label>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col size="8" class="col-weekly-overview">
            <p>Hours left:</p>
          </ion-col>
          <ion-col size="4" class="ion-text-right col-weekly-overview">
            <p class="p-bold-and-white">14.00h</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8" class="col-weekly-overview">
            <p>Workdays left:</p>
          </ion-col>
          <ion-col size="4" class="ion-text-right col-weekly-overview">
            <p class="p-bold-and-white">2 days</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8" class="col-weekly-overview">
            <p>Total Overtime:</p>
          </ion-col>
          <ion-col size="4" class="ion-text-right col-weekly-overview">
            <p class="p-bold-and-white">+02.5h</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-grid>

<ion-grid>
  <ion-label class="label-weekly-overview">
    Monthly Overview
  </ion-label>
  <ion-card class="card-no-bottom-margin card-bordered">
    <ion-card-content style="padding: 0 !important;">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [plotOptions]="chartOptions.plotOptions!"
        [grid]="chartOptions.grid!"
        [yaxis]="chartOptions.yaxis!">
      </apx-chart>
    </ion-card-content>
  </ion-card>
</ion-grid>

  <ion-grid>
    <ion-card class="card-transparent">
      <ion-card-content class="no-padding">
        <ion-row>
          <ion-col size="8" class="col-progress-text">
            <h3 class="col-h3">Current Week Progress</h3>
          </ion-col>
          <ion-col size="4" class="ion-text-right col-progress-text">
            <p class="p-bold-and-white">26 / 40 hours</p>
          </ion-col>
        </ion-row>
        <ion-progress-bar value="0.75" color="primary" class="progress-bar-custom"></ion-progress-bar>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
