ion-card-content {
  margin: 0;
}

.toolbar-transparent {
  --background: transparent;
  --border-width: 0;
}

.row-flex {
  display: flex;
}

.col-flex {
  display: flex;
  padding-top: 0;
}

.top-cards-padding {
  padding: 8px 12px !important;
}

.grid-no-bottom-padding {
  padding-bottom: 0;
}

.card-no-bottom-margin {
  margin-bottom: 0;
}

.no-padding {
  padding: 0 !important;
}

.label-weekly-overview {
  font-weight: 600;
  margin: 8px;
  font-size: 16px;
}

.col-progress-text {
  color: white;
  font-weight: 600;
  padding: 2px 0;
}

.col-h3 {
  font-weight: 700;
  color: white;
}

.progress-bar-custom {
  margin: 6px 0;
  height: 7px;
}

.card-transparent {
  background: transparent;
  box-shadow: none;
}

ion-progress-bar {
  --background: #2e2e2e;
  height: 6px;
  border-radius: 10px;
  margin: 4px 0;
}

h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

p.big {
  color: white;
  font: bold 24px 'Arial';
}

.p-bold-and-white {
  color: white;
  font-weight: bold;
}

.col-weekly-overview {
  padding: 3px 0;
}

.equal-height-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.dashboard-swiper {
  display: block;
  --swiper-pagination-color: #666666;
}

.dashboard-swiper::part(pagination) {
  bottom: -5px;
}

.dashboard-swiper::part(bullet),
.dashboard-swiper::part(bullet-active) {
  width: 6px;
  height: 6px;
}

ion-icon {
  font-size: 30px;
}

.card-bordered {
  background-color: transparent;
  border-color: #4d4d4d;
  border-style: solid;
  border-width: 1px;
}

:host ::ng-deep .apexcharts-series path,
:host ::ng-deep .apexcharts-series rect {
  pointer-events: none !important;
}